extends ../layout

block content
  .container
    h1.page-header 예약
    p
      b by #{book.userName}
      | 
      span at #{moment(book.bookedAt).format('YYYY-MM-DD HH:mm:ss')} 
    
    ul
      li 숙박인원
      p= book.num_person
      li 체크인 
      p= book.check_in
      li 체크아웃
      p= book.check_out
    
     
    
    a.btn.btn-default(type='submit',href='requests') 예약 요청
