extends ../layout

block content
  .container
    h1.page-header= host.title
    p
      b  by #{host.userName}
      | 
      span at #{moment(host.createdAt).format('YYYY-MM-DD HH:MM:SS')} 
      | 
      | (조회수 #{host.read})

    ul
      li 제목 
      p= host.title
      li 도시명 
      p= host.city
      li 자세한 주소
      p= host.address
      li 간단한 설명
      p= host.content
      li 이용 시설 
      p= host.facility
      li 이용 규칙 
      p= host.rule
      li 이용 요금 
      p= host.charge


    a.btn.btn-default(href='/hosts') 목록
